@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0%;
}
#map {
    height: 81vh; /* Define a altura do mapa */
    width: 100%;   /* Define a largura do mapa */
}
@media (min-width: 1024px) {
    #map {
        height: 100vh; /* Altura de 100% da altura da tela */
        width: 100%;   /* Largura de 100% */
    }
}
